
/*Global*/
*{
    padding: 0;
    margin: 0;
    font-family:'Josefin San', sans-serif;
    box-sizing:border-box;
}

/*Start of Hero section*/
.hero{
    height: 50vh;
    width: 100%;
    background-image: url(/img/newbg.png);
    background-size: cover;
    background-position: center;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;

}

.logo{
    color: aliceblue;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: large;
}

nav ul li a:hover{
    color: rgb(38, 136, 221);
    transition: .04s;
}

.btn{
    background-color: rgb(38, 136, 221);
    color:aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    transition: transform ;
}

.btn:hover{
    transform: scale(1.2);
    background-color: aliceblue;
    color: rgb(38, 136, 221);
}

.hero_text{
   position: absolute;
   top: 33%;
   left: 8%;
   transform: translateY(-50%); 
}

h1{
    color: aliceblue;
    margin: 20px 0px 20px;
    font-size: 50px;
}

h3{
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: lightblue;
    letter-spacing: 2px;
    font-size: 20px;
}

.email_form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.email_form form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    outline: none;
    border-radius: 10px;
    border: 3px solid rgb(38, 136, 221);
}

.email_form form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 12px 35px 12px;
    border-radius: 10px;
    background-color: rgb(38, 136, 221);
    color: aliceblue;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}


/*Start of About section*/
.about-section{
    width: 100%;
    padding: 100px 0px;
    background-color: #858585;
        
    }

.about-section img{
    height: auto;
    width: 430px;
    }

.about-text{
    width: 550px;
    color:aliceblue;
    }

.main-section{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }

.about-text h2 {
    color: aliceblue;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    }

.about-text h4{
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    }

.about-text p {
    color: aliceblue;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    }

.aboutBtn{
    background-color: rgb(38, 136, 221);
    color:aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    transition: transform ;
        
    }

.aboutBtn:hover{
    transform: scale(1.2);
    background-color: aliceblue;
    color: rgb(38, 136, 221);
    border: 2px solid rgb(38, 136, 221);
    }

/*Start of Portfolio section*/    

.portfolio-section{
    width: 100%;
    padding: 100px 0px;
    background-color: #000000;
        
    }

.portfolio-section img{
    height: auto;
    width: 430px;
        
    }

.portBtn{
    background-color: rgb(38, 136, 221);
    color:aliceblue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    transition: transform ;
} 

.portBtn:hover{
    transform: scale(1.2);
    background-color: aliceblue;
    color: rgb(38, 136, 221);
    border: 2px solid rgb(38, 136, 221);  
}

.port-text h2 {
    color: aliceblue;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    }

.port-text h4{
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    }

.port-text p {
    color: aliceblue;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    }

.main-sectionp{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
        }   
        
.port-text{
    width: 550px;
    color:aliceblue;
            }


/*Start of footer section*/
footer{
   position: relative;
   width: 100%;
   height: 400px;
   background-color: #858585;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
}

footer p:nth-child(1){
    font-size: 45px;
    color: aliceblue;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    font-size: 25px;
    color: aliceblue;
    width: 500px;
   text-align: center;
   line-height: 26px;
}

.sm-tags{
    display: flex;
}

.sm-tags a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(38, 136, 221);
    border-radius: 50px;
    margin: 22px 10px;
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
    padding: 35px;
}

.sm-tags a:hover{
    transform: scale(1.3);
    transition: .3s;
    background-color: aliceblue;
    color: rgb(38, 136, 221);
    border: 2px solid rgb(38, 136, 221);  
}

.copyRgt{
   color: aliceblue;
   position: absolute;
   bottom: 10px;
   font-size: 14px; 
   margin-top: 20px;
}

.sm-tags ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.sm-tags ul li a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: large;
}

/*About page*/
.mybio-section{
    width: 100%;
    padding: 100px 0px;
    background-color: white;
}

.mybio-text{
    width: 550px;
    color:black;
    }

.mybio-text h2 {
    color: black;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
        }
    
.mybio-text h4{
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
        }
    
.mybio-text p {
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
        }   
        
.mybio-section{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
            }

.map{
    align-items: center;
    margin-bottom: 100px;
    text-align: center;
}

footer #aboutSec{
    background-color: #000;
}

/*Portfolio Page*/
.portfolio-section{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.portfolio-card{
    background: #030303;
    width: 350px;
    height: 625px;
    margin: 10px;
}

.portfolio-card a{
  background-color: aliceblue;
  color: #000;
  padding: 20px 30px;  
  margin-left: 15px;
  margin-bottom: 15px;
  border: 2px solid rgb(38, 136, 221);
  text-decoration: none;
}

.portfolio-card p{
  margin-bottom: 90px;
  margin-right: 15px;
  margin-left: 15px;
}

.portfolio-card h2{
  margin-bottom: 40px;
}

.pcard-img{
    background-color: rgb(22, 23, 24);
    height: 310px;
    margin-bottom: 15px;
    background-size: cover;
}

.copy-icon{
    background-image: url(/img/copy.png);
}

.plus-icon{
    background-image: url(/img/pluss.png);
}

.pasta-icon{
    background-image: url(/img/pasta.png);
}

.portfolio-section h2  {
    color: aliceblue;
}

.portfolio-section p  {
    color: aliceblue;
}

.portTitle h1{
    color: #000;
    text-align: center;
    font-size: 150px;
}